body {
  background-color: rgb(0, 18, 29);
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.nameHeader {
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  color: rgb(0, 200, 200);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.profilePicture {
  width: auto;
  max-width: 300px;
  height: auto;
  max-height: 300px;
  margin-top: 50px;
  margin-right: 20px;
}

.pictureAndText{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aboutText {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  color: rgb(0, 200, 200);
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}
